header {
    background-color: lightslategray;  
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: 4rem;
    margin: 1rem 1rem;
}