.product-detail-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-detail-wrap.fade-in {
    opacity: 1;
  }

.btn {
    background-color: lightskyblue;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
}

.btn:hover {
    color: lightyellow;
}