.product-list-wrap {
    opacity: 0;
    transform: translateX(100vw);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }
  
  /* When JSON finished loading, React adds this class */
  .enter-animation {
    opacity: 1;
    transform: translateX(0);
  }